
<%= render 'nav' %>
<h3><%= notice %></h3>
<div class="container">
  <% @posts.each do |post| %>
    <div class="box">
      <h3>Post N° <%= post.id %></h3>
      <p><%= post.content %></p>
      <div class="container-link">
        <p><%= link_to 'Edit post', edit_post_path(post.id) %></p>
        <p><%= link_to 'Delete post', post_path(post.id), method: :delete, data: { confirm: 'Are you sure to delete?'}  %></p>
      </div>


    </div>
  <% end %>
</div>

<%= render 'footer' %>
