
<%= render 'nav' %>
<h3><%= notice %></h3>
<div class="container">
  <% @posts.each do |post| %>
    <div class="box">
      <h3>Post N° <%= post.id %></h3>
      <p><%= post.content %></p>
      <ul>
        <li>Add<%= link_to 'Edit post', posts_path %></li>
        <li>ADD<%= link_to 'Delete post', posts_path, method: :delete, data: { confirm: 'Are you sure to delete?'}  %></li>
      </ul>
    </div>
  <% end %>
</div>

<%= render 'footer' %>
